@use '../variables' as vars;
@use '../utilities' as utils;
@use '../animation' as animations;
@use 'sass:map';

@mixin current-focus-item {
    color: vars.$nt-color-white;
    background-color: vars.$nt-color-secondary-100;

    .nti {
        color: vars.$nt-color-white;
    }
}

@mixin create-side-menu() {
    padding: 0 0.75rem;
    top: 0;
    left: 0;
    height: 100%;
    background: vars.$nt-bg-side-menu;
    color: vars.$nt-text-primary;
    display: flex;
    flex-direction: column;
    box-shadow: 0.125rem 0 0.3125rem rgba(0 0 0 / 20%);
    overflow-y: auto;
    transition: transform 0.3s ease-in-out;
    animation: slide-out 0.3s ease-in-out;

    &.active {
        transform: translateX(0);
        animation: slide-in 0.3s ease-in-out;
    }

    &-header {
        display: grid;
        grid-template-areas: 'nt-navbar-header-logo nt-navbar-header-buttons';
        grid-template-columns: auto auto;
        background: vars.$nt-color-white;
        height: 4.25rem;
        min-height: 4.25rem;
        align-items: center;

        &-logo {
            display: grid;
            grid-area: nt-navbar-header-logo;

            > img {
                height: 2.25rem;
            }
        }

        &-buttons {
            display: grid;
            grid-area: nt-navbar-header-buttons;
            grid-template-columns: auto auto auto;
            cursor: pointer;
        }
    }

    &-search {
        width: 100%;
        padding: 0.5rem;
        border-color: vars.$nt-color-line-regular;
        border-radius: vars.$nt-border-radius-sm;
        outline: none;
        background: vars.$nt-color-white;
        color: vars.$nt-text-primary;
    }

    &-groups {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &-group {
        border-bottom: 0.0625rem solid vars.$nt-border-bold;
    }

    &-title {
        @include utils.font-size('xs');
        font-weight: vars.$nt-font-weight-medium;
        text-transform: uppercase;
        padding: vars.$nt-spacing-sm vars.$nt-spacing-md;
        margin: 0;
        color: vars.$nt-text-primary;
    }

    &-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .nt-navbar-secondary {
        display: none;
        flex-direction: column;
        padding-left: 1.5rem;
        margin-top: 0.25rem;

        .nt-navbar-secondary-item {
            cursor: pointer;
            padding: vars.$nt-spacing-sm;

            @include utils.font-size('md');
            color: vars.$nt-text-body;

            &:hover,
            &.active {
                color: vars.$nt-color-secondary-100;
                font-weight: vars.$nt-font-weight-bold;
            }
        }
    }

    &-item {
        cursor: pointer;
        padding: vars.$nt-spacing-sm;
        border-radius: vars.$nt-border-radius-sm;
        display: flex;
        align-items: center;
        gap: 0.75rem;

        &:hover,
        &.active {
            @include current-focus-item;
        }

        a {
            flex-grow: 1;
            text-decoration: none;
            display: flex;
            align-items: center;
            font-weight: vars.$nt-font-weight-semi-bold;
            transition: background 0.2s;

            &:focus {
                text-decoration: none;
                outline: none;
            }
        }

        &-icon {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 1.5rem;
            height: 1.5rem;
            font-size: 1rem;
            color: vars.$nt-color-gray-60;
        }

        &-badge {
            background-color: vars.$nt-color-secondary-80;
            color: vars.$nt-color-white;
            font-size: 0.75rem;
            font-weight: bold;
            padding: 0.25rem 0.5rem;
            border-radius: vars.$nt-border-radius-sm;
        }

        &.nt-navbar-primary {
            flex-direction: column;
            align-items: stretch;

            .nt-navbar-link {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
            }
        }
    }

    .nt-navbar-item.nt-navbar-primary.open > .nt-navbar-secondary,
    .nt-navbar-item.nt-navbar-primary.active.open
        > .nt-navbar-secondary {
        display: flex;
        margin: calc(-1 * #{vars.$nt-spacing-sm});
        margin-top: 0;
        background-color: vars.$nt-color-white;
    }

    &-footer {
        @include utils.font-size('sm');
        padding: 1rem 0;
        color: vars.$nt-text-primary;
        margin-top: auto;

        .nt-copyright {
            border-bottom: 0.0625rem solid vars.$nt-border-bold;
        }
    }
}

@keyframes slide-in {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slide-out {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}
