@use 'tailwindcss/base' as tailwind-base;
@use 'tailwindcss/components' as tailwind-components;
@use 'tailwindcss/utilities' as tailwind-utilities;
@use './base' as custom-base;
@use './component' as custom-component;

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600&display=swap');
