.select {
  &-theme {
    &__scroll::-webkit-scrollbar {
      width: 4px;
    }
    &__scroll::-webkit-scrollbar-track {
      background: white;
    }
    &__scroll::-webkit-scrollbar-thumb {
      @apply rounded-sm bg-crimson-default;
    }

    &--active {
      @apply bg-transparent text-crimson-default border-b-2 border-crimson-default;
    }

    &--hover {
      @apply hover:text-crimson-default hover:bg-white bg-white;
    }

    &__option {
      @apply py-5 border-b border-gray-300;
    }
  }

  &__scroll::-webkit-scrollbar {
    width: 4px;
  }
  &__scroll::-webkit-scrollbar-track {
    background: white;
  }
  &__scroll::-webkit-scrollbar-thumb {
    @apply rounded-sm bg-green-default;
  }
}
