@use '../variables' as vars;
@use '../utilities' as utils;
@use 'sass:map';

.nt-select {
    --nt-select-bg: var(--nt-control-bg);
    --nt-select-color: var(--nt-control-color);
    --nt-select-border-color: var(--nt-control-border-color);
    --nt-select-border-color-hover: var(--nt-color-secondary-50);
    --nt-select-border-color-focus: var(--nt-color-action-secondary);
    --nt-select-radius: var(--nt-control-radius);
    --nt-select-disabled-bg: var(--nt-color-bg-muted);
    --nt-select-disabled-color: var(--nt-color-text-muted);
    position: relative;
    display: inline-flex;
    align-items: center;
    width: 100%;
    cursor: pointer;

    border: 1px solid var(--nt-select-border-color);
    border-radius: var(--nt-select-radius);
    background-color: var(--nt-select-bg);
    color: var(--nt-select-color);
    font-size: map.get(utils.$nt-font-sizes, 'sm');
    line-height: 1.4;

    padding: 0 vars.$nt-spacing-lg;
    height: 2.5rem;

    // Remove native styling
    appearance: none;

    // Custom arrow
    background-image: url('/assets/svg/arrow-down.svg');
    background-repeat: no-repeat;
    background-position: right vars.$nt-spacing-md center;
    background-size: 1rem;

    &-icon {
        position: absolute;
        left: 0.625rem;
        right: var(--nt-spacing-md, 1rem);
        z-index: 1;
        top: 0.5rem;
    }

    &:hover {
        border-color: var(--nt-select-border-color-hover);
    }

    &:focus {
        border-color: var(--nt-select-border-color-focus);
        outline: none;
        box-shadow: 0 0 0 0.25rem rgba(vars.$nt-color-secondary-100, 0.2);
    }

    &:disabled {
        color: var(--nt-select-disabled-color);
        background-color: var(--nt-select-disabled-bg);
        border-color: var(--nt-select-border-color-disabled, var(--nt-color-gray-10));
        cursor: not-allowed;
        opacity: 0.8;
    }

    /* Dropdown options */
    option {
        padding: vars.$nt-spacing-md vars.$nt-spacing-lg;
        font-size: map.get(utils.$nt-font-sizes, 'xs');
        line-height: 1.5;
        cursor: pointer;

        &:hover,
        &:checked {
            background-color: var(--nt-select-option-bg-hover, var(--nt-color-gray-9));
        }

        &:disabled {
            color: var(--nt-select-disabled-color);
            background-color: var(--nt-select-disabled-bg);
        }
    }

    &-small {
        height: 2rem;
        font-size: map.get(utils.$nt-font-sizes, '2xs');
        padding-inline: vars.$nt-spacing-sm;
    }

    &-medium {
        height: 2.5rem;
        font-size: map.get(utils.$nt-font-sizes, 'xs');
        padding-inline: vars.$nt-spacing-md;
    }

    &-large {
        height: 3rem;
        font-size: map.get(utils.$nt-font-sizes, 'sm');
        padding-inline: vars.$nt-spacing-lg;
    }

    &-danger {
        border-color: vars.$nt-color-danger;
        color: vars.$nt-color-danger;

        &:focus,
        &:hover {
            border-color: vars.$nt-color-danger-bold;
            box-shadow: 0 0 0 0.25rem
                rgba(vars.$nt-color-danger-bold, 0.2);
        }
    }

    &-success {
        border-color: vars.$nt-color-success;
        color: vars.$nt-color-success;

        &:focus,
        &:hover {
            border-color: vars.$nt-color-success-bold;
            box-shadow: 0 0 0 0.25rem
                rgba(vars.$nt-color-success-bold, 0.2);
        }
    }

    &-warning {
        border-color: vars.$nt-color-warning;
        color: vars.$nt-color-warning;

        &:focus,
        &:hover {
            border-color: vars.$nt-color-warning-bold;
            box-shadow: 0 0 0 0.25rem
                rgba(vars.$nt-color-warning-bold, 0.2);
        }
    }

    &-bare {
        border: none;
        background: transparent;
        color: vars.$nt-color-black;

        &:focus,
        &:hover {
            box-shadow: none;
            border: none;
        }
    }

    &-wrapper {
        position: relative;

        .nt-select {
            padding-left: 3rem;
        }
    }
}
