@use '../variables' as vars;
@use '../utilities' as utils;
@use '../animation' as effects;

.nt-table {
    width: 100%;
    margin-bottom: 1rem;
    color: vars.$nt-color-gray-100;
    border-collapse: collapse;

    &-thead {
        display: flex;
        gap: 0.625rem;
        align-items: center;
        margin: 0 auto;
        justify-content: center;
    }

    &-center {
        th,
        td {
            text-align: center;
        }

        .nt-table-thead {
            justify-content: center;
        }
    }

    &-left {
        th,
        td {
            text-align: left;
        }

        .nt-table-thead {
            justify-content: flex-start;
        }
    }

    &-right {
        th,
        td {
            text-align: right;
        }

        .nt-table-thead {
            justify-content: flex-end;
        }
    }

    &-bordered {
        border: 0.0625rem solid vars.$nt-color-line-regular;

        th,
        td {
            border: 0.0625rem solid vars.$nt-color-line-regular;
        }
    }

    th,
    td {
        padding: 0.5rem;
        vertical-align: middle;
        border-top: 0.0625rem solid vars.$nt-color-line-regular;
    }

    thead {
        th {
            text-transform: uppercase;
            color: vars.$nt-color-gray-70;
            vertical-align: middle;
            border-bottom: 0.125rem solid vars.$nt-color-line-regular;
        }
    }

    tbody + tbody {
        border-top: 0.125rem solid vars.$nt-color-line-regular;
    }

    &-striped {
        tbody tr:nth-of-type(odd) {
            background-color: vars.$nt-bg-regular;
        }
    }

    &-hover {
        tbody tr:hover {
            background-color: vars.$nt-bg-regular;
        }
    }

    &-loading {
        width: 100%;
        height: 100%;

        &-bar {
            @include effects.animate-pulse;
            width: 100%;
            height: 1.25rem;
            background-color: vars.$nt-color-gray-20;
            border-radius: 0.25rem;
        }
    }

    &-no-bordered {
        border: 0;

        td {
            border: 0;
            border-top: 0;
        }

        thead th {
            border-bottom: 0;
            border-top: 0;
        }

        tbody + tbody {
            border-top: 0;
        }
    }
}
