@use '../variables' as vars;
@use '../utilities' as utils;
@use 'sass:map';

$default-track-color: vars.$nt-color-secondary-10;
$default-bar-color: vars.$nt-color-secondary-100;

$variants: (
    success: (
        bg: vars.$nt-color-success,
        track: vars.$nt-color-success-light
    ),
    warning: (
        bg: vars.$nt-color-warning,
        track: vars.$nt-color-warning-light
    ),
    danger: (
        bg: vars.$nt-color-danger,
        track: vars.$nt-color-danger-light
    ),
    info: (
        bg: vars.$nt-color-info,
        track: vars.$nt-color-info-light
    )
);

.nt-progress {
    --nt-progress-track-bg: #{$default-track-color};
    --nt-progress-bar-bg: #{$default-bar-color};
    --nt-progress-label-color: var(--nt-color-text-primary);
    --nt-progress-radius: var(--nt-border-radius-lg);
    --nt-progress-gap: 0.5rem;
    width: 95%;
    border-radius: var(--nt-progress-radius);
    position: relative;
    height: 0.7rem;
    display: flex;
    align-items: center;
    gap: var(--nt-progress-gap);
    background-color: var(--nt-progress-track-bg);

    &-label {
        font-size: 1rem;
        font-weight: bold;
        white-space: nowrap;
        color: var(--nt-progress-label-color);
        z-index: 2;

        &-outside {
            position: absolute;
            left: 100%;
            margin-left: 0.5rem;
        }
    }

    &-md {
        height: 0.875rem;

        .nt-progress-label {
            @include utils.font-size('sm');
        }
    }

    &-lg {
        height: 1.125rem;

        .nt-progress-label {
            @include utils.font-size('sm');
        }
    }

    &-xl {
        height: 1.375rem;

        .nt-progress-label {
            @include utils.font-size('sm');
        }
    }

    @each $name, $settings in $variants {
        &-#{$name} {
            --nt-progress-track-bg: #{map.get($settings, track)};
            --nt-progress-bar-bg: #{map.get($settings, bg)};

            .nt-progress-bar {
                background-color: var(--nt-progress-bar-bg);
            }
        }
    }

    &-bar {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-radius: var(--nt-progress-radius);
        overflow: hidden;
        background-color: var(--nt-progress-bar-bg);

        .nt-progress-bar {
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
        }
    }
}
