@use '../variables' as vars;
@use '../utilities' as utils;
@use '../animation' as effects;

.nt-table {
    --nt-table-color: var(--nt-color-text-primary);
    --nt-table-muted-color: var(--nt-color-text-secondary);
    --nt-table-border-color: var(--nt-color-border-default);
    --nt-table-row-bg-accent: var(--nt-bg-regular);
    --nt-table-loading-bg: var(--nt-color-gray-20);
    width: 100%;
    margin-bottom: 1rem;
    color: var(--nt-table-color);
    border-collapse: collapse;

    &-thead {
        display: flex;
        gap: 0.625rem;
        align-items: center;
        margin: 0 auto;
        justify-content: center;
    }

    &-center {
        th,
        td {
            text-align: center;
        }

        .nt-table-thead {
            justify-content: center;
        }
    }

    &-left {
        th,
        td {
            text-align: left;
        }

        .nt-table-thead {
            justify-content: flex-start;
        }
    }

    &-right {
        th,
        td {
            text-align: right;
        }

        .nt-table-thead {
            justify-content: flex-end;
        }
    }

    &-bordered {
        border: 0.0625rem solid var(--nt-table-border-color);

        th,
        td {
            border: 0.0625rem solid var(--nt-table-border-color);
        }
    }

    th,
    td {
        padding: 0.5rem;
        vertical-align: middle;
        border-top: 0.0625rem solid var(--nt-table-border-color);
    }

    thead {
        th {
            text-transform: uppercase;
            color: var(--nt-table-muted-color);
            vertical-align: middle;
            border-bottom: 0.125rem solid var(--nt-table-border-color);
        }
    }

    tbody + tbody {
        border-top: 0.125rem solid var(--nt-table-border-color);
    }

    &-striped {
        tbody tr:nth-of-type(odd) {
            background-color: var(--nt-table-row-bg-accent);
        }
    }

    &-hover {
        tbody tr:hover {
            background-color: var(--nt-table-row-bg-accent);
        }
    }

    &-loading {
        width: 100%;
        height: 100%;

        &-bar {
            @include effects.animate-pulse;
            width: 100%;
            height: 1.25rem;
            background-color: var(--nt-table-loading-bg);
            border-radius: 0.25rem;
        }
    }

    &-no-bordered {
        border: 0;

        td {
            border: 0;
            border-top: 0;
        }

        thead th {
            border-bottom: 0;
            border-top: 0;
        }

        tbody + tbody {
            border-top: 0;
        }
    }
}
