@use '../variables' as vars;
@use '../utilities' as utils;
@use 'sass:map';

.nt-radio {
    --nt-radio-color: var(--nt-color-text-primary);
    --nt-radio-border-color: var(--nt-color-gray-50);
    --nt-radio-checked-color: var(--nt-color-info);
    --nt-radio-disabled-color: var(--nt-color-text-muted);
    --nt-radio-disabled-bg: var(--nt-color-gray-10);
    --nt-radio-disabled-border-color: var(--nt-color-gray-30);
    --nt-radio-gap: 1.5rem;

    @include utils.font-size('sm');
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    color: var(--nt-radio-color);

    &-column {
        display: flex;
        gap: var(--nt-radio-gap);
        flex-direction: column;
    }

    &-row {
        display: flex;
        gap: var(--nt-radio-gap);
    }

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 1.125rem;
        width: 1.125rem;
        border: 0.125rem solid var(--nt-radio-border-color);
        border-radius: 50%;
        transition: border-color 0.2s;
    }

    &::after {
        content: '';
        position: absolute;
        left: 0.25rem;
        top: 50%;
        transform: translateY(-50%) scale(0);
        height: 0.625rem;
        width: 0.625rem;
        border-radius: 50%;
        background-color: var(--nt-radio-checked-color);
        transition: transform 0.2s ease-in-out;
    }

    input[type='radio'] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    &:has(input[type='radio']:checked)::before {
        border-color: var(--nt-radio-checked-color);
    }

    &:has(input[type='radio']:checked)::after {
        transform: translateY(-50%) scale(1);
    }

    &:has(input[type='radio']:disabled) {
        cursor: not-allowed;
        color: var(--nt-radio-disabled-color);

        &::before {
            border-color: var(--nt-radio-disabled-border-color);
            background-color: var(--nt-radio-disabled-bg);
        }

        &::after {
            background-color: var(--nt-radio-disabled-border-color);
            transform: translateY(-50%) scale(0);
        }

        input[type='radio'] {
            cursor: not-allowed;
        }
    }
}
