/* stylelint-disable no-empty-source */
@use 'sass:map';
@use '../utilities' as utils;
@use '../variables' as vars;

$height-icon: 0.625rem;

@mixin nt-checkbox-label(
    $font-weight,
    $font-size,
    $line-height,
    $letter-spacing,
    $color
) {
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
    color: $color;
}

@mixin nt-checkbox-color($border, $background) {
    border-color: var(--nt-checkbox-border-color, #{$border});
    background-color: var(--nt-checkbox-bg, #{$background});

    &:hover:not(:disabled) {
        border-color: var(--nt-checkbox-border-color-hover);
    }
}

@mixin nt-checkbox-indicator(
    $content,
    $position,
    $top,
    $left,
    $width
) {
    content: $content;
    position: $position;
    top: $top;
    left: $left;
    width: $width;
    height: $height-icon;
}

@mixin nt-checkbox-state-checked(
    $checkbox-border-color,
    $checkbox-background-color,
    $content,
    $position,
    $top,
    $left,
    $width,
    $height,
    $indicator-color
) {
    @include nt-checkbox-color(
        $checkbox-border-color,
        $checkbox-background-color
    );

    &::after {
        @include nt-checkbox-indicator(
            $content,
            $position,
            $top,
            $left,
            $width
        );
        border: solid $indicator-color;
        border-width: 0 0.1429rem 0.1429rem 0;
        transform: rotate(45deg);
    }
}

@mixin nt-checkbox-state-indeterminate(
    $checkbox-border-color,
    $checkbox-background-color,
    $content,
    $position,
    $top,
    $left,
    $width,
    $height,
    $indicator-background
) {
    @include nt-checkbox-color(
        $checkbox-border-color,
        $checkbox-background-color
    );

    &::after {
        @include nt-checkbox-indicator(
            $content,
            $position,
            $top,
            $left,
            $width
        );
        background-color: $indicator-background;
    }
}

.nt-checkbox {
    --nt-checkbox-color: var(--nt-color-text-primary);
    --nt-checkbox-color-disabled: var(--nt-color-text-secondary);
    --nt-checkbox-bg: var(--nt-color-white);
    --nt-checkbox-border-color: var(--nt-color-gray-70);
    --nt-checkbox-border-color-hover: var(--nt-color-info-bold);
    --nt-checkbox-checked-bg: var(--nt-color-info-bold);
    --nt-checkbox-checked-border-color: var(--nt-color-info-bold);
    --nt-checkbox-indicator-color: var(--nt-color-white);
    --nt-checkbox-disabled-border-color: var(--nt-border-regular);
    --nt-checkbox-radius: var(--nt-border-radius-sm);
    --nt-checkbox-transition: var(--nt-transition-medium);
    --nt-checkbox-gap: var(--nt-spacing-xs);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--nt-checkbox-gap);
    cursor: pointer;
    user-select: none;

    @include nt-checkbox-label(
        vars.$nt-font-weight-regular,
        vars.$nt-font-size-sm,
        150%,
        0%,
        var(--nt-checkbox-color)
    );

    &:has(input:disabled) {
        @include nt-checkbox-label(
            vars.$nt-font-weight-regular,
            vars.$nt-font-size-sm,
            150%,
            0%,
            var(--nt-checkbox-color-disabled)
        );
    }

    input[type='checkbox'] {
        position: relative;
        cursor: pointer;
        appearance: none;
        width: 1rem;
        height: 1rem;
        border: 0.125rem solid vars.$nt-color-white;
        border-radius: var(--nt-checkbox-radius);
        background-color: var(--nt-checkbox-bg);
        transition: var(--nt-checkbox-transition);

        &:focus {
            outline: none;
            border-color: var(--nt-checkbox-border-color-hover);
        }

        &:not(:checked, :indeterminate, :disabled) {
            @include nt-checkbox-color(
                vars.$nt-color-gray-70,
                vars.$nt-color-white
            );
        }

        &:checked:not(:disabled) {
            @include nt-checkbox-state-checked(
                var(--nt-checkbox-checked-border-color),
                var(--nt-checkbox-checked-bg),
                '',
                absolute,
                1px,
                0.25rem,
                0.25rem,
                0.375rem,
                var(--nt-checkbox-indicator-color)
            );
        }

        &:indeterminate:not(:disabled) {
            @include nt-checkbox-state-indeterminate(
                var(--nt-checkbox-checked-border-color),
                var(--nt-checkbox-bg),
                '',
                absolute,
                0.25rem,
                0.125rem,
                0.375rem,
                0.125rem,
                var(--nt-checkbox-checked-bg)
            );
        }

        &:disabled {
            cursor: not-allowed;

            @include nt-checkbox-color(
                var(--nt-checkbox-disabled-border-color),
                var(--nt-checkbox-bg)
            );

            &:checked {
                @include nt-checkbox-state-checked(
                    var(--nt-checkbox-disabled-border-color),
                    var(--nt-checkbox-disabled-border-color),
                    '',
                    absolute,
                    0.0625rem,
                    0.25rem,
                    0.25rem,
                    0.375rem,
                    var(--nt-checkbox-indicator-color)
                );
            }

            &:indeterminate {
                @include nt-checkbox-state-indeterminate(
                    var(--nt-checkbox-disabled-border-color),
                    var(--nt-checkbox-disabled-border-color),
                    '',
                    absolute,
                    0.25rem,
                    0.125rem,
                    0.375rem,
                    0.125rem,
                    var(--nt-checkbox-indicator-color)
                );
            }
        }
    }
}
