@use "../variables" as vars;

@mixin nt-book-marks() {
    padding: 0.5rem 1rem;
    border: none;
    background: none;
    cursor: pointer;
    font-weight: bold;
    border-bottom: 2px solid transparent;

    &.active {
        color: vars.$nt-text-primary;
        border-bottom: 2px solid var(vars.$nt-color-primary-100);
    }

}

.nt-page-bookmarks {
    display: flex;
    gap: 1rem;
    padding: 0.75rem;
    border-bottom: 1px solid vars.$nt-border-bold;

    @include nt-book-marks;
}

