@use '../variables' as vars;
@use '../utilities' as utils;

.nt-pagination {
    --nt-pagination-color: var(--nt-color-text-primary);
    --nt-pagination-bg: transparent;
    --nt-pagination-bg-hover: var(--nt-shade-secondary-2-10);
    --nt-pagination-bg-active: var(--nt-shade-secondary-2-20);
    --nt-pagination-color-disabled: var(--nt-color-gray-20);
    --nt-pagination-radius: var(--nt-border-radius-md);
    --nt-pagination-gap: 0.5rem;
    display: flex;
    align-items: center;
    gap: var(--nt-pagination-gap);
    list-style: none;
    padding: 0;
    margin: 1rem 0;

    &-item {
        border-radius: var(--nt-pagination-radius);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 1.75rem;
        height: 1.75rem;
        border: none;
        background: var(--nt-pagination-bg);
        color: var(--nt-pagination-color);

        @include utils.font-size('sm');
        cursor: pointer;
        transition:
            background 0.2s,
            color 0.2s;

        &:hover {
            background: var(--nt-pagination-bg-hover);
        }

        &.active {
            background: var(--nt-pagination-bg-active);
            color: var(--nt-pagination-color);
            font-weight: vars.$nt-font-weight-medium;
        }

        &.disabled {
            color: var(--nt-pagination-color-disabled);
            cursor: not-allowed;
            pointer-events: none;
        }
    }

    &-prev,
    &-next {
        font-size: 1rem;
        width: auto;
        padding: 0 0.5rem;
        background: transparent;
    }

    &-sm {
        .nt-pagination-item {
            width: 1.75rem;
            height: 1.75rem;

            @include utils.font-size('4xs');
        }
    }

    &-md {
        .nt-pagination-item {
            width: 2rem;
            height: 2rem;

            @include utils.font-size('sm');
        }
    }

    &-lg {
        .nt-pagination-item {
            width: 2.375rem;
            height: 2.375rem;

            @include utils.font-size('lg');
        }
    }
}
