@mixin nt-expand-collapse($duration: 0.3s, $timing: ease-in-out) {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition:
        max-height $duration $timing,
        opacity $duration $timing,
        visibility 0s linear $duration;

    &.nt-expanded {
        max-height: 31.25rem;
        opacity: 1;
        visibility: visible;
        transition:
            max-height $duration $timing,
            opacity $duration $timing;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(-0.625rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@mixin fade-in {
    animation: fade-in 0.3s ease-out forwards;
}
