/**
 * Site CSS to use in website
 */

@use "reset";
@use "variables" as variables;
@use "typography";
@use "grid";
@use "components";
@use "icons";

@use "mixins" as fns;


@use "themes/nt-theme";


body {
    font-size: variables.$nt-font-size-base;
    font-family: variables.$nt-font-family-sans-serif;
    line-height: variables.$nt-line-height;
}


@include fns.create-theme('nt-stylesheet');
