@use 'mixins' as mixins;
@use 'variables' as variables;
@use 'utilities' as utils;

@font-face {
    font-family: Mulish;
    src: url('../fonts/Mulish/Mulish-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Mulish;
    src: url('../fonts/Mulish/Mulish-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Mulish;
    src: url('../fonts/Mulish/Mulish-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

/* Font Families */
.nt-font {
    font-family: var(--nt-font-default), serif;
}

@include utils.generate-font-size-utilities;
@include utils.generate-line-height-utilities;
