@font-face {
    font-family: Mulish;
    src: url('/assets/fonts/Mulish/Mulish-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Mulish;
    src: url('/assets/fonts/Mulish/Mulish-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Mulish;
    src: url('/assets/fonts/Mulish/Mulish-Italic.ttf') format('ttf');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

body {
    font-family: Mulish, sans-serif;
}
