@use 'variables' as vars;
@use 'functions/px-to-rem' as *;
@use 'sass:map';
@use 'sass:math';

@function scale-font-size($step) {
    $value: 14 * math.pow(1.1, $step);

    @return math.round($value) * 1px;
}

@function calculate-line-height($font-size, $multiplier: 1.5) {
    $number: math.div($font-size, 1px);
    $line-height: math.round($number * $multiplier);

    @return $line-height * 1px;
}

$nt-font-sizes: (
    '4xs': scale-font-size(-4),
    // 10px
    '3xs': scale-font-size(-3),
    // 11px
    '2xs': scale-font-size(-2),
    // 12px
    'xs': scale-font-size(-1),
    // 13px
    'sm': scale-font-size(0),
    // 14px
    'md': scale-font-size(1),
    // 15px
    'lg': scale-font-size(2),
    // 16px
    'xl': scale-font-size(3),
    // 17px
    '2xl': scale-font-size(4),
    // 19px
    '3xl': scale-font-size(5),
    // 21px
    '4xl': scale-font-size(6),
    // 23px
    '5xl': scale-font-size(7) // 25px
);

$nt-line-heights: ();

@each $size, $font-size in $nt-font-sizes {
    $nt-line-heights: map.merge(
        $nt-line-heights,
        (
            $size: calculate-line-height($font-size)
        )
    );
}

@mixin font-size($size, $with-line-height: true) {
    @if map.has-key($nt-font-sizes, $size) {
        font-size: px-to-rem(map.get($nt-font-sizes, $size));

        @if $with-line-height and map.has-key($nt-line-heights, $size)
        {
            line-height: px-to-rem(map.get($nt-line-heights, $size));
        }
    } @else {
        @warn "Font size '#{$size}' not found in the map!";
    }
}

@mixin generate-font-size-utilities() {
    @each $size, $font-size in $nt-font-sizes {
        .nt-text-#{$size} {
            font-size: $font-size;
            line-height: map.get($nt-line-heights, $size);
        }
    }
}

@mixin generate-line-height-utilities() {
    @each $size, $line-height in $nt-line-heights {
        .nt-line-height-#{$size} {
            line-height: $line-height;
        }
    }
}
