@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-lg;
  }
  a {
    @apply text-blue-600 underline;
  }

  body {
    @apply dark:bg-zinc-700  min-h-screen relative bg-gray-100;
  }
}

@layer components {
  .input-global {
    @apply w-full border bg-white/0 p-3 text-sm outline-none border-gray-200 hover:border-blue-300 focus-visible:border-blue-300;
  }
}

.progress {
  animation: progress 1s infinite linear;
}

.left-right {
  transform-origin: 0% 50%;
}

@keyframes progress {
  0% {
    transform: translateX(0) scaleX(0);
  }
  40% {
    transform: translateX(0) scaleX(0.4);
  }
  100% {
    transform: translateX(100%) scaleX(0.5);
  }
}
