name: Bump version Publish NT CSS Framework

on:
    workflow_dispatch:
        inputs:
            version:
                description: 'Semver type of new version (major / minor / patch)'
                required: true
                type: choice
                options:
                    - patch
                    - minor
                    - major

jobs:
    bump-version:
        runs-on: ubuntu-latest

        steps:
            - name: Check out source
              uses: actions/checkout@v4
              with:
                  ssh-key: ${{ secrets.DEPLOY_KEY }}

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 20
                  cache: 'npm'

            - name: Install npm packages
              run: npm ci

            - name: Setup Git
              run: |
                  git config user.name 'khoilen'
                  git config user.email 'khoilen@nastechglobal.com'

            - name: bump version
              run: npm version ${{ github.event.inputs.version }}

            - name: Push latest version
              run: git push origin main --follow-tags
