name: 'Code Check '
permissions:
    contents: read

on:
    pull_request:
        branches: ['main']

jobs:
    code-check:
        name: Code Check
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v3

            - name: Install pnpm
              uses: pnpm/action-setup@v4
              with:
                  version: 10.7.0
                  run_install: false

            - name: Install Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 22.21.0
                  cache: 'pnpm'

            - name: Install dependencies
              run: pnpm install --frozen-lockfile

            - name: Build stylesheet package
              run: pnpm --filter @nashtech-garage/stylesheet  build

            - name: Run lint:pkg
              run: pnpm run lint:pkg

            - name: Run Typecheck
              run: pnpm typecheck

            - name: Run lint
              run: pnpm -r --if-present run lint

            - name: Run tests
              run: pnpm test

            - name: Run build storybook
              run: pnpm run build:headlessui-storybook

            - name: Run build libs
              run: pnpm run build:headlessui-lib
