name: Coverage check

permissions:
    actions: write
    checks: write
    contents: read

on:
    pull_request:
        types: [opened, synchronize]

jobs:
    publish-coverage:
        runs-on: ubuntu-latest
        permissions:
            pull-requests: write

        strategy:
            matrix:
                include:
                    - name: 'Style Sheet'
                      app: 'nt-stylesheet'
                    - name: 'Headless UI'
                      app: 'nt-headless-ui'

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Install pnpm
              uses: pnpm/action-setup@v4
              with:
                  version: 10.7.0
                  run_install: false

            - name: Install Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 22.21.0
                  cache: 'pnpm'

            - name: Install dependencies
              run: pnpm install --frozen-lockfile

            - name: Build stylesheet package
              run: pnpm --filter @nashtech-garage/stylesheet  build

            - name: Run tests
              run: pnpm run test --coverage

            - name: Report Coverage
              if: always()
              uses: davelosert/vitest-coverage-report-action@v2
              with:
                  name: ${{ matrix.name }}
                  json-summary-path: ./apps/${{ matrix.app }}/coverage/coverage-summary.json
                  json-final-path: ./apps/${{ matrix.app }}/coverage/coverage-final.json
                  json-summary-compare-path: ./apps/${{ matrix.app }}/coverage/coverage-summary.json
