name: 'Publish NT Headless UI'

on:
    workflow_dispatch:
    pull_request:
        types: [closed]

jobs:
    build-and-publish:
        if: >
            (github.event_name == 'workflow_dispatch' ||
            (github.event.pull_request.merged == true &&
            github.event.pull_request.base.ref == 'main' &&
            contains(github.event.pull_request.head.ref, 'bump-nt-headless-ui')))
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Install pnpm
              uses: pnpm/action-setup@v4
              with:
                  version: 9.15.3
                  run_install: false

            - name: Set up Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 20.18.2
                  cache: 'pnpm'

            - name: Authenticate with npm
              run: echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_ACCESS_TOKEN }}" > ~/.npmrc

            - name: Install dependencies
              run: pnpm install --frozen-lockfile
              working-directory: apps/nt-headless-ui

            - name: Build Libs
              run: pnpm run build:headlessui-lib

            - name: Publish to npm
              run: npm publish
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  NPM_TOKEN: ${{ secrets.NPM_ACCESS_TOKEN }}
              working-directory: apps/nt-headless-ui

    create-github-release:
        name: Create GitHub Release
        runs-on: ubuntu-latest
        needs: build-and-publish
        permissions:
            contents: write
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Create Release
              run: |
                  version=$(jq -r '.version' apps/nt-headless-ui/package.json)
                  custom_tag="v$version-headless-ui"
                  title="$custom_tag"
                  gh release create "$custom_tag" --title "$title" --generate-notes
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
