name: Publish and Release style sheet

permissions:
    contents: write
    packages: write
    pull-requests: write

on:
    workflow_dispatch:
        inputs:
            version:
                description: 'Version bump type'
                required: true
                default: 'patch'
                type: choice
                options:
                    - patch
                    - minor
                    - major

jobs:
    call-reusable:
        uses: nashtech-garage/nt-sketchbook/.github/workflows/publish-and-release-reusable.yml@dev/khoi/fix-endauth-publish
        with:
            version: ${{ inputs.version }}
            projectName: 'stylesheet'
            workingDir: 'apps/nt-stylesheet'
            releasePrefix: 'stylesheet'
