@layer components {
    .avatar {
        @apply rounded-full;
        width: 1.5rem;
        height: 1.5rem;
    }

    .avatar-sm {
        @apply rounded-full;
        width: 1.25rem;
        height: 1.25rem;
    }

    .avatar-xlg {
        @apply rounded-full;
        width: 2.5rem;
        height: 2.5rem;
    }

    .avatar-lg {
        @apply rounded-full;
        width: 2rem;
        height: 2rem;
    }

    .avatar-xs {
        @apply rounded-full;
        width: 1rem;
        height: 1rem;
    }

    .icon-4lg {
        font-size: 3rem;
    }
    .icon-xxxlg {
        font-size: 2.5rem;
    }
    .icon {
        font-size: 1rem;
    }

    .icon-xlg {
        font-size: 1.5rem;
    }

    .icon-lg {
        font-size: 1.125rem;
    }

    .icon-sm {
        font-size: 0.875rem;
    }

    .icon-xs {
        font-size: 0.75rem;
    }

    .group,
    .body-xlg,
    .body-lg {
        font-size: 1rem;
    }

    @media (min-width: theme('screens.md')) {
        .group,
        .body-xlg {
            font-size: 1.125rem;
        }
    }

    .body-lg {
        font-size: 1.125rem;
        line-height: 1.6875rem;
    }

    .body-md {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .body-sm {
        font-size: 0.875rem;
        line-height: 1.3125rem;
    }

    .body-xs {
        font-size: 0.75rem;
        line-height: 1.125rem;
    }

    .input,
    .button {
        height: 2.5rem;
        line-height: 0.9375rem;
        padding-top: 0.5625rem;
        padding-bottom: 0.625rem;
        padding-left: 1.125rem;
        padding-right: 1.125rem;
    }

    .input-lg,
    .button-lg {
        height: 3rem;
        line-height: 1.0625rem;
        padding-top: 0.6875rem;
        padding-bottom: 0.75rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .input-sm,
    .button-sm {
        height: 2rem;
        line-height: 0.8125rem;
        padding-top: 0.4375rem;
        padding-bottom: 0.5rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }

    .input-xs,
    .button-xs {
        height: 1.5rem;
        line-height: 0.6875rem;
        padding-top: 0.3125rem;
        padding-bottom: 0.375rem;
        padding-left: 0.375rem;
        padding-right: 0.375rem;
    }

    .form-control {
        min-height: 2.5rem;
        font-size: 1rem;
        .icon {
            font-size: 1rem;
        }
        padding: 0 1.125rem;
    }

    .form-control-lg {
        min-height: 3rem;
        font-size: 1.125rem;
        .icon {
            font-size: 1.125rem;
        }
        padding: 0 1.5rem;
    }
    .form-control-sm {
        min-height: 2rem;
        font-size: 0.875rem;
        .icon {
            font-size: 14px;
        }
        padding: 0 0.75rem;
    }
    .form-control-xs {
        min-height: 1.5rem;
        font-size: 0.75rem;
        .icon {
            font-size: 0.75rem;
        }
        padding: 0 8px;
    }

    .text-group {
        font-size: 1rem;
    }

    .text-hint {
        font-size: 0.75rem;
    }

    .text-para-lg {
        font-size: 1.125rem;
    }

    .text-para-md {
        font-size: 1rem;
    }
    .text-para-sm {
        font-size: 0.875rem;
    }
    .text-para-xs {
        font-size: 0.75rem;
    }

    .text-link-sm {
        font-size: 0.875rem;
    }
    .text-link-xs {
        font-size: 0.75rem;
    }

    .text-inline-md {
        font-size: 1rem;
    }

    .text-inline-sm {
        font-size: 0.875rem;
    }

    .text-inline-xs {
        font-size: 0.75rem;
    }
    .text-inline-lg {
        font-size: 1.125rem;
    }
}
